*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /* linear gradient of indian flag */
    background: linear-gradient(160deg,orange,white,green);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container{
    margin-top: 5rem;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output{
    
    /* border: 2px solid red;
    margin: 100px auto; */
    width: 80rem;
    height: 40rem;
    background: #00000027;
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 0 20px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
}


#ask{
    padding: 1.6rem;
    width:70rem;
    border-radius: 20px;
    font-size: 1.2rem;
}

.button{
    padding: 1.6rem;
    width:10rem;
    border-radius: 20px;
    font-size: 1.2rem;
    background: rgba(0, 128, 128, 0.475);
}


