{% extends 'base.html' %}

{% block head %}
<title>Gemini Chat</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="output">
        <h3>
            {% if output|length < 0 %} <h3>Enter what do you want to ask?</h3>
        {% else %}
        {{ output }}
        {% endif %}
        </h3>
    </div>
</div>

<form action="/" class="form" method="POST">
    <div class="input">
        <input type="text" placeholder="Enter what do you want to ask?" id="ask" name="ask">
        <input type="submit" class="button">
    </div>
</form>

{% endblock body %}