{% extends 'base.html' %}

{% block head %}
<title>Gemini Chat</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Gemini chat By Erfan and Lokendar</h1>
    <div class="output">
        <h3>
            {% if output %}
            {% for key, value in output.items() %}
            <p>
                <b>{{ key }}</b>
                <br>
                {{ value }}
                <hr>
            </p>
            {% endfor %}
            {% else %}
            <h3>Enter what do you want to ask?</h3>
            {% endif %}
        </h3>
    </div>
</div>

<form action="/" class="form" method="POST">
    <div class="input">
        <input type="text" placeholder="Enter what do you want to ask?" id="ask" name="ask">
        <input type="submit" class="button">
    </div>
</form>

{% endblock body %}