{% extends 'base.html' %}

{% block head %}
<title>Gemini Chat</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Gemini chat By Erfan and Lokendar</h1>
    <div class="output">
        <h3>
            {% if output %}
            {% for key, value in output.items() %}
            <p>
                <div class="key"><b>{{ key }}</b></div>
                <br>
                <div class="value"><b>{{ value }}</b></div>
                <hr>
            </p>
            {% endfor %}
            {% else %}
            <h3>Enter what do you want to ask?</h3>
            {% endif %}
        </h3>
        <!-- <img class="pikaimg" src="{{ url_for('static', filename = 'assets/pikachu.png') }}" alt=""> -->
    </div>

</div>

<form action="/" class="form" method="POST">
    <div class="input">
        <input type="text" placeholder="Enter what do you want to ask?" id="ask" name="ask">
        <input type="submit" class="button">
    </div>
</form>

<script src="https://kit.fontawesome.com/c4a3389572.js" crossorigin="anonymous"></script>

{% endblock body %}